awscli~=1.16.114
google-cloud-storage~=1.14.0
parallelpipe~=0.2.6
numpy~=1.16.2
gdal~=2.4.0
numba~=0.49.1
xmltodict~=0.12.0
Pillow~=7.0.0
ModestMaps~=1.4.7
simplejson~=3.16.0
werkzeug~=0.16.0
uuid~=1.30
mapbox-vector-tile
TileStache~=1.51.13
raster2points~=0.1.9
mercantile~=1.0.4
